<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="Health" class="com.example.CoverMate.HealthInsurance"> </bean>
      <bean id="Term" class="com.example.CoverMate.TermInsurance"> </bean>
    <bean id="customerHealth" class="com.example.CoverMate.Customer"> 
		<property name="insurance" ref="Health"></property>
	</bean>
    <bean id="customerTerm" class="com.example.CoverMate.Customer"> 
		<property name="insurance" ref="Term"></property>
	</bean>

</beans>